ChequeClient/Service References/RESTServiceReference/RESTChequeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ChequeBusinessData.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ChequeBusinessData.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBillingInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillingInformation" nillable="true" type="tns:BillingInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillingInformation" nillable="true" type="tns:ArrayOfBillingInformation" />
  <xs:complexType name="BillingInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="MenuID" type="xs:long" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingInformation" nillable="true" type="tns:BillingInformation" />
</xs:schema>